.form{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.form input{
    width: 300px;
    height: 30px;
    margin: 10px;
    
}

.label1{
    position: absolute;
    margin-top: 15px;
    margin-left: -100px;
}

.label2{
    position: absolute;
    margin-top: 70px;
    margin-left: -90px;
}

.video-alphabet{
    position: absolute;
    margin-left: -100px;
    margin-top: 50px;
}

.video-chiffres video{
    position: absolute;
    margin-left: -100px;
    margin-top: 20px;
    width: 900px;
}

.video-animaux video{
    position: absolute;
    margin-left: -100px;
    margin-top: 20px;
    width: 900px;
}

.lien {
    position: absolute;
    margin-top: 550px;
    margin-left: 240px;

}


.lien a:link, a:visited {
    background-color: white;
  color: black;
  border: 2px solid rgb(11, 6, 85);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }
  
  .lien a:hover, a:active {
    background-color: green;
  color: white;
  }

  .vid{
      position: absolute;
      margin-top: 70px;
      margin-left: -150px;
  }

  .descri{
        position: absolute;
        margin-top: 20px;
        margin-left: -150px;
  }

  .db{
      width: 600px;
      height: 200px;
      border: 2px solid black;
      border-radius: 15px;
      align-items: center;
      text-align: center;
      margin-top: 20px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      margin-left: -100px;
  }

  #bt-modifier{
      width: 120px;
      margin-left: 470px;
      margin-top: -97px;
  }

  #bt-supprimer{
    width: 120px;
    margin-left: 10px;
    margin-top: 0px;
}

#ajouter{
    width: 110px;
}

.registration{
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
}

.login{
    position: absolute;
    margin-top: 300px;
    margin-left: 100px;
}

#creation{
    position: absolute;
    margin-left: 80px;
    margin-top: -75px;
    width: 500px;
}

#connecter{
    position: absolute;
    margin-left: 100px;
    margin-top: -50px;
    width: 500px;
}

#but-log{
    position: absolute;
    width: 100px;
    margin-top: 10px;
    margin-left: 190px;
}

#but-reg{
    position: absolute;
    width: 120px;
    margin-top: 10px;
    margin-left: 170px;

}

.message-err{
    position: absolute;
    margin-top: 600px;
    margin-left: -100px;
    color: red;
}

#bt-logout1{
    position: absolute;
    margin-top: -450px;
    margin-left: 900px;
}